.woo-cart{
    h2{
        font-size: 37px;
        text-align: center;
        display: block;
        width: 100%;
        font-weight: bold;
        line-height: 100%;
    } 
}

.woocommerce-form-login{
    margin: 29px auto 20px!important;
}

.woocommerce-form-register{
    width: 100%;
    border: 1px solid #e1dddd!important;
    padding: 20px!important;
    max-width: 600px;
    margin: 0 auto!important;
    label{
        margin-bottom: 7px;
        display: block;
    }
    input[type='text'], input[type='email'], input[type='password'], select{
        box-sizing: border-box;
        width: 100%;
        margin: 0;
        outline: 0;
        line-height: normal;
    }
    .form-row{
        margin-bottom: 9px;
    }
    select{
        padding: 7px;
        border: 1px solid rgba(0, 0, 0, 0.2);
        font-size: 18px;
    }

}

#billing_country_field{
    label{
        font-size: 20px;
        margin: 24px 0 13px;
        line-height: 30px;
        color: #955795;
    }
}

.afreg_radio {
    font-size: 14px;
}

.signup-heading{
    font-size: 37px;
    text-align: center;
    display: block;
    width: 100%;
    font-weight: bold;
    line-height: 100%;
    margin-bottom: 27px;
}

.woocommerce-form-register .woocommerce-Button{
    width: 100%;
    max-width: 200px;
    border: 1px solid aliceblue;
    font-family: inherit;
    padding: 14px;
    background: #955795;
    color: #fff;
    font-size: 16px;
    &:hover{
        opacity: .6;
    }
}

.woocommerce-form-register .afreg_extra_fields {
    label{
        font-size: 20px;
        line-height: 30px;
        color: #955795;
    }
}

.woocommerce-form-register {
    .reg-footer-text{
        margin: 23px 0 24px;
        font-size: 15px;
        font-style: italic;
    }
}

.create-acc{
    font-size: 20px;
    margin: 0 0 10px;
    line-height: 30px;
    color: #955795;
}

.err-member{
    text-align: center;
    color: #b75e5e;
    border: 1px solid #d17979;
    padding: 11px;
    font-size: 20px;
    
}

.membership-product-actions{
    a{
            margin-bottom: 5px!important;
    }
}

.woocommerce table.my_account_orders .button{
    margin-bottom: 5px!important;
}

.woocommerce table.my_account_orders td, .membership-discount-actions td{
    padding: 9px 8px!important;
}

.woocommerce table.shop_table th{
    padding: 8px!important;
    color: #8a468a;
    font-size: 16px!important;
}



.woocommerce-MyAccount-content h2{
    font-size: 23px!important;
    color: #8a468a;
    text-align: left;
}

.woocommerce-Address-title{
    h3{
        font-size: 20px;
        color: #8a468a;
        font-weight: bold;
        margin: 5px 0 15px;
    }
}

.woocommerce-Address{
    address{
        margin: 12px 0 0;
        font-size: 17px;
        line-height: 28px;
    }
}

.woocommerce-Button{
    margin-top: 10px!important;
}

.woocommerce-MyAccount-content .afreg_extra_fields{
    label{
        font-size: 20px; margin-bottom: 15px;
        font-size: 17px;
        margin-bottom: 5px;
        color: #8a468a;
        font-weight: bold;
    }
}