@media screen and (max-width: 1400px) {
    #banner .banner_cont figure {
        width: 1400px;
        margin-left: -132px;
        position: relative;
        background: #eee342;
    }
    #banner .banner_cont{min-height: unset;}
    #banner .banner_cont .brn_info {
        top: 0px;
        left: 0;
        right: 0;
        margin: 0 auto;
        padding: 30px 20px 15px;
        min-height: 365px;
    }
    #banner .banner_cont .brn_info h2 {
        font-size: 29px;
        line-height: 39px;
    }
    #banner .banner_cont .brn_info p {
        font-size: 22px;
        line-height: 40px;
    }
}
@media screen and (max-width: 1220px) {
    #header_nav_cont .hdr_cont{
        padding: 0 15px;
    }

    #section1 .sec1_cont{
        padding: 50px 15px;
    }
}

@media screen and (max-width: 1100px) {

}

@media screen and (max-width: 1000px) {
    #banner .banner_cont .brn_info{
        display: block;
        position: static;
        padding: 25px 15px;
        min-height: 0;
    }
    #banner .banner_cont figure{
        width: 127%;
        margin: 0;
        margin-left: 0px;
        margin-left: -15%;
    }
    
}


@media screen and (max-width: 900px) {
    #section1 .sec1_cont .sec1_inner{
        flex-direction: column-reverse;
    }
    #section1 .sec1_cont .sec1_inner img {
        margin: 0 0 44px;
    }
    #section1 .sec1_cont .sec1_inner .sec1_left{
        margin-right: 0;
    }
    
}
@media screen and (max-width: 800px) {
    #header_nav_cont .main_nav ul{
        flex-direction: column;
    }
    #header_nav_cont .main_nav ul li a{
        color: #fff;
        text-align: center;
        display: block;
        font-size: 31px;
        line-height: 100%;
    }
    #header_nav_cont .main_nav ul li{
        margin-left: 0!important;
        margin-bottom: 28px;
    }
    .main_nav{
        display: none;
    }
    #header_nav_cont .mobileBar{
        display: block;
        
    }
    #header_nav_cont #header .logo{
        max-width: 140px;
    }
    #header_nav_cont .hdr_cont {
        padding: 8px 15px;
    }
    #section1 .sec1_cont h2 {
        font-size: 33px;
    }

    #main_area .main_cont main .main_inner img{
        max-width: 193px;
    }
    #main_area .main_cont main .main_inner .m-item h2, #main_area .main_cont main .main_inner .m-item h2 span{
        font-size: 19px;
    }
}

@media screen and (max-width: 650px) {
    #main_area .main_cont main .main_inner .mainpager{
        display: block;
    }
}

@media screen and (max-width: 600px) {
    #banner .banner_cont .brn_info h2 {
        font-size: 24px;
        line-height: 39px;
    }
    #banner .banner_cont .brn_info h2 {
        font-size: 29px;
        line-height: 39px;
    }
    #banner .banner_cont .brn_info p {
        font-size: 16px;
        line-height: 29px;
    }
    #banner .banner_cont .brn_info .btn_started{
        margin: 20px auto 21px;
    }
    #section1 .sec1_cont p {
        font-size: 16px;
        line-height: 29px;
    }
    #section1 .sec1_cont {
        padding: 40px 15px;
    }
}

@media screen and (max-width: 570px) {

}
