#main_area{
    background-color: #fff;
}

#main_area .main_cont {
    padding: 30px 0;
    min-height: 430px;
}

#main_area .rmagic{
    float: none!important;
}

#footer{
    clear: both;
    border-top: 1px solid gray;
    margin-top: 20px;
}

.breadcrumbs {
    margin: 0 0 1.5rem;
    border-bottom: 1px solid gray;
    padding: 0 0 1rem;
}

.breadcrumbs span[property="itemListElement"] a {
    color: #8a468a;
    font-weight: bold;
}

    .faq h3{
        font-size: 32px;
        line-height: 100%;
        margin: 0px 0 27px;
    }

/* accourduin */
    .faq .accordion {
        background-color: #eee;
        color: #444;
        cursor: pointer;
        padding: 18px;
        width: 100%;
        border: none;
        text-align: left;
        outline: none;
        font-size: 15px;
        transition: 0.4s;
        border-bottom: 1px solid #e7e1e7;
        display: flex;
        justify-content: space-between;
    }

    .faq .accordion span{
        color: #8a468a;
        font-weight: bold;
    }
    .faq a{
        color: #8a468a;
    }
    .faq a:hover{
        text-decoration: underline;
    }

    .acc_sect.active .panel{
        display: block;
    }
    
    .faq  .active, .accordion:hover {
        background-color: #ccc; 
    }

    main a{
        color: #8a468a;
        font-weight: bold;
    }
    
    .faq .panel {
        padding: 20px;
        line-height: 29px;
        display: none;
        background-color: white;
        overflow: hidden;
        border: 1px solid #e8e8e8;
        border-top: none;
    }
    .btn_started{
        max-width: 228px;
        width: 100%;
        display: block;
        background: #fe5a6b;
        text-align: center;
        padding: 12px 0;
        border-radius: 21px;
        color: #fff;
        margin: 38px auto 21px;
        transition: all ease-in-out 300ms;
    }
    .btn_started:hover{
        opacity: .6;
    }
/* end accordion */

.non_home{
    position: relative;
}
#banner .banner_cont .non_home figure{
    width: 1920px;
    margin-left: -353px;
    position: relative;
    background: none;
}

/* review form */
.review-form{
    max-width: 600px;
    padding: 30px;
    border: 2px solid #8a468a;
    margin: 30px auto 0;
    border-radius: 5px;
}

/* end review for, */